<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login_page</title>
    <style>
        body {
            background-color: #F5FAFB;
            font-family: 'Gowun Batang', serif;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container">
    <h1 style="text-align: center; margin-bottom: 5px; margin-top: 100px;">"Recodary"</h1>
    <form style="border: 2px; border-color:#000; padding: 20px; alignment-baseline: center" target="_top"
        autocapitalize="off" th:action="@{/login}" method="post" >
        <div style="text-align: center">
            <input style="margin-top: 5px; width: 200px; height: 30px;"
                   type="text" id="loginId" name="loginId" placeholder="아이디">
            <!--<p style="color: red; font-size: 10px" th:text="${error_loginId}"></p>-->
        </div>
        <!--<div th:if="${param.error}" style="text-align: center; font-size: 10px; color: red">
            <div class="alert alert-danger">
                사용자ID 또는 비밀번호를 확인해주세요.
            </div>
        </div>-->
        <div style="text-align: center">
            <input style="margin-top: 5px; width: 200px; height: 30px;"
                   type="password" id="loginPw" name="loginPw" placeholder="비밀번호">
            <!--<p style="color: red; font-size: 10px" th:text="${error_loginPw}"></p>-->
        </div>
        <div style="text-align: center; margin-top: 10px" class="btn_submit_wrap">
            <button type="button" onclick="location.href='/'">취소</button>
            <button type="submit">sign in</button>
        </div>
    </form>
</div>
</body>
</html>