<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h2 style="text-align: center; margin-bottom: 5px; margin-top: 100px;" class="my-3 border-bottom pb-2">회원가입</h2>
    <form style="border: 2px; border-color:#000; padding: 20px; alignment-baseline: center" target="_top"
          autocapitalize="off" th:action="@{/signup}" method="post" th:object="${signupDto}">
        <div style="text-align: center">
            <input style="margin-top: 5px; width: 200px; height: 30px;" type="text" id="userName" name="userName"
                   placeholder="이름" value="" maxlength="10" autocapitalize="off" th:field="*{userName}" >
            <p style="color: red; font-size: 10px" th:text="${error_userName}" ></p>
        </div>
        <div style="text-align: center" class="mb-3">
            <input style="margin-top: 10px; width: 200px; height: 30px;" type="email" id="userEmail" name="userEmail"
                   placeholder="이메일" value="" maxlength="20" autocapitalize="off" th:field="*{userEmail}">
            <p style="color: red; font-size: 10px" th:text="${error_userEmail}"></p>
        </div>
        <div style="text-align: center" class="mb-3">
            <input style="margin-top: 10px; width: 200px; height: 30px;" type="text" id="userId"
                   name="userId"
                   placeholder="아이디" value="" maxlength="15" autocapitalize="off" th:field="*{userId}">
            <p style="color: red; font-size: 10px" th:text="${error_userId}"></p>
        </div>
        <!-- 경고문자 보여줄 태그 -->
        <div style="text-align: center" class="mb-3">
            <input style="margin-top: 10px; width: 200px; height: 30px;" type="password" id="userPw" name="userPw"
                   placeholder="비밀번호" value="" maxlength="15" autocomplete="new-password" th:field="*{userPw}">
            <p style="color: red; font-size: 10px" th:text="${error_userPw}"></p>
        </div>
        <div style="text-align: center" class="mb-3">
            <input style="margin-top: 10px; width: 200px; height: 30px;" type="password" id="checkPw" name="checkPw"
                   placeholder="비밀번호 확인" value="" maxlength="15" autocomplete="new-password" >
            <p style="color: red; font-size: 10px" th:text="${error_checkPw}"></p>
        </div>
        <div style="text-align: center" class="btn_submit_wrap">
            <button type="button" onclick="location.href='/'">취소</button>
            <button style="margin-top: 10px" type="submit" class="btn_submit" id="button_Signup">회원가입</button>
        </div>
    </form>
</div>

</body>
</html>